/* =========================
   CTA SECTION
========================= */
.cta-section {
  background-color: #eaf0f6;
  padding: 25px 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content Wrapper */
.cta-main {
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

/* Top Heading */
.header-text {
  font-size: 36px;
  font-weight: 600;
  color: #090f4e;
  margin-bottom: 30px;
  line-height: 1.4;
}

/* Blue Hero Container */
.cta-inner {
  background: linear-gradient(135deg, #1f7ea1, #1b6e8a);
  border-radius: 16px;
  padding: 30px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

/* Banner Image */
.hunt-banner {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}

/* CTA Button */
.primary-btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 12px;
  gap: 29px;
  display: flex;
  background-color: #9ee25a;
  color: #171717;
  box-shadow: 0px 8px 24px 0px #959da533;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #6ac948;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* =========================
   TABLET (768px+)
========================= */
@media (min-width: 768px) {
  .cta-section {
    padding: 25px 25px 30px;
  }

  .header-text {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .cta-inner {
    padding: 50px 30px;
    border-radius: 20px;
  }

  .primary-btn {
    font-size: 16px;
    padding: 14px 32px;
  }
}

/* =========================
   DESKTOP (1024px+)
========================= */
@media (min-width: 1024px) {
  .cta-main {
    max-width: 1300px;
  }

  .header-text {
    font-size: 32px;
  }

  .cta-inner {
    padding: 70px 60px;
    border-radius: 24px;
  }
}

/* =========================
   LARGE SCREENS (1440px+)
========================= */
@media (min-width: 1440px) {
  .cta-main {
    max-width: 1400px;
  }

  .header-text {
    font-size: 36px;
  }
}
