.container {
  width: min(95%, 1920px);
}

.supported-crm {
  width: min(95%, 1920px);
  position: relative;
  padding: 120px 0 0;
  background: #ffffff;
  overflow: hidden;
  text-align: end;
  margin: 0 auto;
}

.crm-header h2 {
  font-size: 36px;
  font-weight: 600;
  color: #090f4e;
  margin-bottom: 16px;
}

.crm-header p {
  font-size: 16px;
  color: #64748b;
  line-height: 1.6;
}

.crm-graphic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 60px 0px;
  gap: 80px;
}

.crm-graph {
  position: relative;
  width: 100%;
  height: 600px;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.node-3 {
  margin-top: 0px;
}

.left-icons {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 25px;
}

.left-icon-containt {
  display: flex;

  align-items: center;
  gap: 60px;
}

.badges-title {
  position: relative;
  bottom: 65px;
  z-index: 1;
  background-color: #effbff;
  border: 0.82px solid #0195cf;
  border-radius: 24.7px;
  padding: 8.23px;
  box-shadow: 0px 38.15px 79.48px 0px #110c2e26;
  position: relative;
  margin-left: 25px;
}

.crm-node-circle {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50px;
  border: 1px solid #91e1ff;
  padding: 25px;
}

.text-icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.crm-linkdin-icon {
  width: 18px;
  height: 18px;
}

.node-contact {
  top: 230px;
  left: 50px;
}

.node-company {
  top: 360px;
  left: 50px;
}

/* CENTER */
.node-center {
  top: 220px;
  left: 550px;
}

/* RIGHT */
.node-right {
  top: 150px;
  right: 50px;
}

/* SVG full overlay */
.graph-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.crm-cta button {
  height: 60px;
  gap: 10px;
  background: #b3fc6a;
  color: #000000;
  font-weight: 600;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 8px 24px 0px #959da533;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

.crm-cta button:hover {
  transform: translateY(-2px);
}

/* Top Decoration */
.crm-top-decoration {
  position: absolute;
  top: 4%;
  left: 63%;
  width: 108px;
  height: 97px;
}

/* Bottom Decoration */
.crm-bottom-decoration {
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 120px;
}

.crm-header {
  text-align: center;
  max-width: 880px;
  margin: 0 auto 60px;
  line-height: 29px;
}

.crm-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 50px;
}

.crm-logos {
  background: #f1f5f9;
  padding: 20px 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo-item {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crm-cta {
  text-align: center;
}

.supported-crm-main {
  display: contents;
  align-items: center;
  position: relative;
}

.crm-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 31px;
  padding: 8px;
  position: absolute;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 38.15px 79.48px 0px #110c2e26;
}

.badge-1 {
  transform: translate(20px, 0px);
  z-index: 1;
}
.badge-2 {
  transform: translate(91px, 10px);
  z-index: 2;
}
.badge-3 {
  transform: translate(158px, 20px);
}
.badge-4 {
  transform: translate(240px, 30px);
  z-index: 4;
}
.badge-5 {
  transform: translate(297px, 40px);
  z-index: 5;
}

.imag {
  position: relative;
  top: 40px;
  width: 170px;
  height: 153px;
}

.badges-emp {
  background-color: #dbf5ff;
  color: #00a1e0;
  border: 0.82px solid #00a1e0;
}

.badges-website {
  background-color: #dfffec;
  border: 0.82px solid #21844a;
  color: #21844a;
}

.badges-conversations,
.badges-last-name,
.badges-first-name {
  background-color: #ffebe6;
  border: 0.82px solid #ff7a59;
  color: #ff7a59;
}

.crm-right-badges {
  display: flex;
  align-items: center;
  right: 154px;
  justify-content: space-around;

  position: relative;
  bottom: 66px;
}

.supported-crm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.crm-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm-logos {
  display: flex;
  flex-direction: column;
}

.supported-crm-container {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.supported-crm-card {
  padding: 14px;
  border-radius: 26px;
  background: #eaeffa;
  z-index: 1;
}

.supported-crm-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.crm-icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crm-hubspot {
  border: 1px solid #e1e1e1;
  background-color: #ff7a59;
}

.crm-pipedrive {
  border: 1px solid #e1e1e1;
  background-color: #21844a;
}

.crm-zoho,
.crm-salesforce {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 50%;
}

.crm-salesforce-icon {
  width: 67px;
  height: 47px;
}

.crm-hubspot-icon {
  width: 46px;
  height: 48px;
}

.crm-pipedrive-icon {
  width: 32px;
  height: 41px;
}

.crm-zoho-icon {
  width: 66px;
  height: 40px;
}

.crm-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 134px;
  height: 134px;
  background: #e5faff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.crm-logo-img {
  width: 96px;
}

.vector {
  position: absolute;
  width: 43%;
  max-width: 650px;
  height: auto;
}

.vector {
  position: absolute;
  width: clamp(420px, 42%, 650px);
  height: auto;
}

.vector-1 {
  left: 7%;
  top: 14%;
}

.vector-2 {
  left: 7%;
  top: 50%;
}

.vector-3 {
  left: 7%;
  top: 50%;
}

.vector-4 {
  right: 8%;
  top: 50%;
}

.badges-title::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  background: #0195cf;
  border-radius: 50%;
}

.website-1 {
  position: relative;
  left: 11%;
  bottom: 8vh;
}

.name-1 {
  bottom: 43px;
}

.company-empl-1 {
  bottom: 30px;
}

.vector-dots {
  position: absolute;
  right: 8%;
  top: 51%;
  width: clamp(420px, 42%, 650px);
  height: auto;
  pointer-events: none;
}

.dot {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.dot-1 {
  left: 13%;
  background: #00a1e0;
}

.dot-2 {
  left: 23%;
  background: #21844a;
}

.dot-3 {
  left: 34%;
  background: #ff7a59;
}

.dot-4 {
  left: 46%;
  background: #ff7a59;
}

.dot-5 {
  left: 55%;
  background: #ff7a59;
}

/* ================== RESPONSIVE ================== */
@media (min-width: 1600px) {
  .vector-1 {
    top: 11%;
  }
}
@media (max-width: 1920px) {
  .left-icon-containt {
    gap: 3vw;
  }

  .vector-dots {
    right: 6.5%;
  }
}

@media (max-width: 1780px) {
  .vector-dots {
    right: 4.9%;
  }

  .left-icon-containt {
    gap: 4vw;
  }

  .badges-title {
    margin-left: 0vw;
  }

  .conversations-1 {
    bottom: 60px;
  }

  .name-1 {
    bottom: 44px;
  }

  .company-empl-1 {
    bottom: 33px;
  }

  .website-1 {
    left: 65px;
  }

  .vector-1 {
    top: 12%;
    height: 198px;
  }
}

@media (max-width: 1720px) {
  .left-icon-containt {
    gap: 3vw;
  }

  .badges-title {
    margin-left: 1vw;
  }

  .conversations-1 {
    bottom: 45px;
  }

  .website-1 {
    left: 50px;
  }

  .company-empl-1 {
    bottom: 30px;
  }

  .name-1 {
    bottom: 35px;
  }

  .company-empl-1 {
    bottom: 30px;
  }

  .vector-1 {
    top: 15%;
    height: 193px;
  }

  .vector-2,
  .vector-3 {
    top: 52%;
  }

  .vector-4 {
    top: 52%;
    right: 6%;
  }
}

@media (max-width: 1600px) {
  .crm-top-decoration {
    left: 64%;
  }

  .badges-title {
    margin-left: 1vw;
  }

  .conversations-1 {
    bottom: 30px;
  }

  .company-empl-1 {
    bottom: 43px;
  }

  .website-1 {
    left: 0vw;
  }

  .vector-1 {
    top: 18%;
    height: 179px;
  }

  .vector-dots {
    right: 2.4%;
    top: 51.9%;
  }
}

@media (max-width: 1440px) {
  .vector-dots {
    right: 5.4%;
  }

  .left-icon-containt {
    gap: 1vw;
  }

  .crm-top-decoration {
    left: 64%;
  }

  .conversations-1 {
    bottom: 47px;
  }

  .website-1 {
    left: 3vw;
    bottom: 85px;
  }

  .company-empl-1 {
    bottom: 27px;
  }

  .left-icons {
    gap: 15px;
  }
  .vector-1 {
    top: 20%;
    height: 161px;
  }

  .crm-badge {
    width: 82px;
  }

  .badge-1 {
    transform: translate(20px, 0px);
    z-index: 1;
  }
  .badge-2 {
    transform: translate(84px, 10px);
    z-index: 2;
  }
  .badge-3 {
    transform: translate(144px, 20px);
  }
  .badge-4 {
    transform: translate(219px, 30px);
    z-index: 4;
  }
  .badge-5 {
    transform: translate(269px, 40px);
    z-index: 5;
  }
}

@media (max-width: 1200px) {
  .vector-dots {
    right: 4.7%;
    top: 51.4%;
  }

  .dot-3 {
    left: 36%;
  }

  .dot-4 {
    left: 47%;
  }

  .dot-5 {
    left: 52%;
  }

  .crm-top-decoration {
    left: 64%;
  }
  .conversations-1 {
    bottom: 27px;
  }

  .name-1 {
    bottom: 40px;
  }

  .company-empl-1 {
    bottom: 55px;
  }

  .website-1 {
    left: -2.7vw;
    bottom: 90px;
  }

  .node {
    gap: 0px;
  }

  .vector {
    width: 42%;
  }

  .vector-1 {
    top: 25%;
    height: 129px;
  }

  .vector-2,
  .vector-3,
  .vector-4 {
    top: 51%;
  }

  .left-icons {
    gap: 15px;
  }

  .crm-badge {
    width: auto;
  }

  .badge-1 {
    transform: translate(60px, 0px);
    z-index: 1;
  }
  .badge-2 {
    transform: translate(107px, 10px);
    z-index: 2;
  }
  .badge-3 {
    transform: translate(167px, 20px);
    z-index: 3;
  }
  .badge-4 {
    transform: translate(215px, 30px);
    z-index: 4;
  }
  .badge-5 {
    transform: translate(238px, 40px);
    z-index: 5;
  }
}

@media (max-width: 1024px) {
  .crm-top-decoration {
    left: 70%;
  }

  .crm-graphic {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 35px;
    margin-top: 0px;
  }

  .supported-crm {
    width: 100%;
  }

  .left-icon-containt {
    gap: 0vw;
  }

  .conversations-1 {
    bottom: 38px;
  }

  .company-empl-1 {
    bottom: 48px;
  }

  .website-1 {
    left: -44px;
    bottom: 107px;
  }

  .vector {
    width: 48%;
  }

  .vector-1 {
    top: 23%;
    left: -2%;
    height: 139px;
  }

  .vector-2,
  .vector-3 {
    top: 51%;
    left: -2%;
  }

  .vector-4 {
    top: 51%;
  }
  .left-icons {
    gap: 15px;
  }

  .crm-badge {
    width: auto;
  }

  .badges-title {
    margin-left: 5px;
  }

  .badge-1 {
    transform: translate(60px, 0px);
    z-index: 1;
  }
  .badge-2 {
    transform: translate(107px, 10px);
    z-index: 2;
  }
  .badge-3 {
    transform: translate(167px, 20px);
    z-index: 3;
  }
  .badge-4 {
    transform: translate(215px, 30px);
    z-index: 4;
  }
  .badge-5 {
    transform: translate(235px, 40px);
    z-index: 5;
  }

  .dot-3 {
    left: 38%;
  }

  .dot-4 {
    left: 49%;
  }

  .dot-5 {
    left: 54%;
  }
}

@media (max-width: 912px) {
  .crm-icon-circle {
    width: 75px;
    height: 75px;
  }

  .crm-hubspot-icon {
    width: 30px;
    height: 32px;
  }

  .crm-pipedrive-icon {
    width: 22px;
    height: 30px;
  }

  .crm-zoho-icon {
    width: 47px;
    height: 33px;
  }

  .vector-1 {
    top: 19%;
    left: 3%;
    height: 140px;
  }

  .vector-3 {
    top: 51%;
    left: 3%;
    height: 140px;
  }

  .vector {
    width: 42%;
    /* height: 140px; */
  }

  .company-empl-1 {
    bottom: 43px;
    margin-left: 0px;
  }

  .website-1 {
    left: -64px;
    bottom: 107px;
  }

  .vector-dots {
    right: 0%;
    top: 51.4%;
  }
}

@media (max-width: 768px) {
  .crm-logo {
    width: 125px;
    height: 125px;
  }

  crm-logo-img {
    width: 90px;
  }

  .crm-header h2 {
    font-size: 28px;
    position: relative;
  }

  .crm-header p {
    font-size: 14px;
  }

  .crm-right-badges {
    flex-wrap: wrap;
    justify-content: center;
  }

  .badges-title {
    margin-left: -6px;
  }

  .name-1 {
    margin-left: 5px;
    width: 80px;
    text-align: center;
    line-height: 1.2;
    bottom: 49px;
  }

  .company-empl-1 {
    left: -1px;
  }

  .website-1 {
    left: -84px;
  }

  .crm-right-badges {
    right: 150px;
    bottom: 111px;
  }

  .badge-2 {
    transform: translate(96px, 17px);
  }

  .badge-3 {
    transform: translate(140px, 36px);
  }

  .badge-4 {
    transform: translate(177px, 57px);
  }

  .badge-5 {
    transform: translate(203px, 80px);
  }

  .vector-dots {
    right: -3%;
    top: 50.8%;
  }

  .dot-1 {
    left: 20%;
  }

  .dot-2 {
    left: 27%;
  }

  .dot-4 {
    left: 47%;
  }

  .dot-5 {
    left: 53%;
  }
}

@media (max-width: 600px) {
  .crm-node-circle {
    width: 80px;
    height: 80px;
    padding: 18px;
  }

  .node {
    justify-content: flex-start;
  }

  .crm-logo {
    width: 100px;
    height: 100px;
  }

  .crm-logo-img {
    width: 70px;
  }
  .crm-icon-circle {
    width: 60px;
    height: 60px;
  }

  .crm-salesforce-icon {
    width: 42px;
    height: 31px;
  }

  .crm-zoho-icon {
    width: 39px;
    height: 28px;
  }

  .badges-title {
    font-size: 12px;
  }

  .vector-1 {
    top: 18%;
    left: 4%;
    height: 123px;
  }

  .vector-3 {
    left: 4%;
    height: 126px;
  }

  .conversations-1 {
    bottom: 40px;
    right: 17px;
  }

  .name-1 {
    padding: 6px 0px;
    width: 55px;
    bottom: 43px;
  }

  .company-empl-1 {
    width: 94px;
    padding: 6px 0px;
    right: 8px;
  }

  .website-1 {
    left: -41px;
    bottom: 104px;
  }

  .crm-right-badges {
    display: none;
  }

  .vector-dots {
    display: none;
  }
}

@media (max-width: 575px) {
  .badges-title {
    display: none;
  }
}
