.challenges-container {
  padding: 20px 0px;
  margin: 0 auto;
  text-align: center;
}

.without-card {
  background-color: #fff7f8;
  color: #d24b68;
}

.challenges-title {
  font-size: 36px;
  color: #090f4e;
  margin-bottom: 50px;
  font-weight: 600;
}

.comparison-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
  gap: 40px;
}

.challenge-card {
  flex: 1;
  border: 1px solid #e2e8f0;
  border-radius: 18px;
  padding: 30px;
  text-align: left;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.with-card {
  background-color: #ffffff;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  color: #097737;
}

.bullet-icon-image {
  width: 42px;
  height: 42px;
}

.card-logo,
.card-logo-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder {
  width: 100%;
  background: #f7fafc;
  border-radius: 18px;
  margin-bottom: 0px;
}

.card-subtitle {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
  margin-top: 15px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  flex: 1;
}

.item-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-subtitle {
  font-size: 13px;
  font-weight: 500;
  border-radius: 24.7px;
  color: #ff4c51;
  padding: 6px 6.23px;
  background-color: #ffdcd4;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 20px;
}

.list-item strong {
  display: block;
  font-size: 20px;
  color: #262626;
  font-weight: 600;
}

.list-item p {
  font-size: 16px;
  color: #4c4c4c;
  margin: 4px 0 0 0;
  line-height: 24px;
}

.icon-cross {
  font-size: 24px;
  color: #d24b68;
  font-weight: bold;
}

.icon-check {
  color: #38a169;
  font-weight: bold;
}

.vs-divider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  color: #090f4e;
  z-index: 2;
  pointer-events: none;
}

.comparison-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #e2e8f0;
  z-index: 1;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px;
  background-color: transparent;
}

.cta-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.cta-button {
  height: 60px;
  background-color: #b3fc6a;
  color: #000000;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 8px 24px 0px #959da533;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.cta-button:hover {
  background-color: #a2e859;
  transform: translateY(-3px);
}

.cta-decorative {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Positioning the Curved Arrow */
.cta-arrow-icon {
  position: relative;
  top: 25px;
  right: 33px;
  font-size: 40px;
  color: #2d5a43;
  margin-right: 15px;
  width: 80px;
  height: auto;
  margin-right: 8px;
}

.cta-promo-text {
  font-family: Caveat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  line-height: 35px;
  position: relative;
  right: 60px;
  bottom: 25px;
  font-size: 30px;
  color: #1d4841;
  font-weight: 700;
}

.cta-promo-text span {
  display: block;
}

.card-logo {
  width: 28px;
  height: 28px;
}

.saved-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6fff1;
  border-radius: 24.7px;
  padding: 8px 8.23px;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #097737;
}

/* Responsive Handling */
@media (max-width: 1200px) {
  .comparison-wrapper::before {
    top: 10px;
    bottom: 10px;
  }
}

@media (max-width: 768px) {
  .comparison-wrapper {
    flex-direction: column;
    gap: 80px;
  }

  .comparison-wrapper::before {
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
  }

  .vs-divider {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cta-wrapper {
    gap: 20px;
  }

  .cta-arrow-icon {
    top: 30px;
    right: 10px;
  }

  .cta-promo-text {
    font-size: 24px;
    right: 45px;
    bottom: 40px;
  }
}

@media (max-width: 468px) {
  .cta-button {
    max-width: 40%;
    height: auto;
  }

  .cta-wrapper {
    gap: 0px;
  }

  .cta-container {
    padding-left: 25px;
  }

  .cta-arrow-icon {
    top: 31px;
    right: -4px;
  }

  .cta-promo-text {
    font-size: 24px;
    right: 25px;
  }

  .card-subtitle {
    flex-wrap: wrap;
  }

  .saved-time {
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
  }

  .item-header {
    flex-wrap: wrap;
  }

  .item-subtitle {
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
  }
}
